body {
    background: #fc00ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #00dbde, #fc00ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #00dbde, #fc00ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    /* for testing botton-nvbar fixed */
    /* height: 10000px; */
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px white;
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav{
    color: white;
}

.shblue {
    animation: shblue 3s infinite;
}
@keyframes shblue {
    50% {
        text-shadow: 1px 2px 3px dodgerblue;
    }
}

.line{
    text-decoration: line-through;
    color: grey;
}